{% extends 'base.html' %} {% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4 d-flex justify-content-between">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand fw-bold" href="#">Shoppeng</a>
    <a href="{% url 'main:logout' %}">
      <button type="button" class="btn btn-danger">
          Logout
      </button>
    </a>
  </div>
</nav>
<h5>Name:</h5>
<p>{{name}}</p>

<h5>Class:</h5>
<p>{{class}}</p>

<hr>
<h1>Daftar Barang</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Date Added</th>
      <th scope="col">Action</th>
    </tr>
  </thead> 
  <tbody>
  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.date_added}}</td>
    <td>
      <a href="{% url 'main:edit_product' product.pk %}" class="mx-2">
          <button type="button" class="btn btn-primary">
              Edit
          </button>
      </a>
      <a href="{% url 'main:delete_product' product.pk %}">
        <button type="button" class="btn btn-danger">
            Delete
        </button>
    </a>
  </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<br />

<a href="{% url 'main:create_product' %}">
  <button type="button" class="btn btn-light">Add New Product</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
